@model EventManager.Models.EventModel

<h2>Детали за настан</h2>
<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Име:</strong> @Model.Ime</p>
<p><strong>Локација:</strong> @Model.Lokacija</p>

<a href="@Url.Action("Index")" class="btn btn-secondary">Назад</a>
